.section_text {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin: auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.card_section {
    padding: 2rem 5rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 7rem;

    div {
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        box-shadow: 0 4px 6px #0000001a;
        background: #fff;
        border: 1px solid #eaeaea;
        border-radius: 15px;
        gap: 1rem;

        p {
            font-size: 20px;
            font-weight: 500;
        }

        img {
            width: 65px;
            height: 70px;
        }

    }
}

.quiz_cards {
    background-color: #080821;
    padding: 3rem;
    margin-bottom: 3rem;
    h1{
        text-align: center;
        color: #fff;
        font-size: 30px;
    }
    p{
        color: #ffffffc4;
        text-align: center;
        font-size: 15px;
    }
}