<app-hero-section
  [backgroundImage]="heroImage"
  [title]="heroTitle"
  [subtitle]="heroSubtitle"
></app-hero-section>
<div class="section_text">
    <h1>"We empower students to connect with teachers and thrive at every stage of their learning journey."</h1>
        <h3>Discover, grow, and embrace technology with ease.</h3>
</div>

<h1 style="text-align: center;font-size: 27px;font-weight: 700;">We specialize in.</h1>
<div class="card_section">
    <div><p>MCQs</p> <img [src]="img1" alt=""> </div>
    <div><p>Students activity</p><img [src]="img2" alt=""></div>
    <div><p>Teachers</p><img [src]="img3" alt=""></div>
</div>