.nav_conatiner{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color:  #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1;

    .nav_routes{
        ul{
            display: flex;
            gap: 1rem;
            list-style: none;

            li{
                a{
                    color: black !important;
                }
            }

        }

    }
}