<div class="dash_container">
    <h1>Dashboard</h1>
    <div class="cards">
        <div><h3>Total Student</h3> <p>35</p></div>
        <div><h3>Total Quiz</h3> <p>35</p></div>
        <div><h3>Total Teacher</h3> <p>35</p></div>
    </div>
    <div class="list">
        <table style="width: 75%;" >
            <thead>
                <tr class="table">
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>EmailId</th>
                   
                </tr>
            </thead>
            <tbody>
              
                    <tr class="table">
                        <td>1</td>
                        <td style="padding-left: 29px;">hamza</td>
                        <td>hamzalatif.com</td>
                       
                    </tr>
                
                
            </tbody>
        </table>
    </div>
</div>