<div class="list">
    <table style="width: 100%;" >
        <thead>
            <tr class="table">
                <th>Sr No</th>
                <th>Name</th>
                <th>Uploaded By</th>
               
            </tr>
        </thead>
        <tbody>
          
                <tr class="table" *ngFor="let list of quizData; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td style="padding-left: 29px;">{{list.title}}</td>
                    <td>Hamza</td>
                   
                </tr>
            
            
        </tbody>
    </table>
</div>