<div class="list">
    <table style="width: 100%;" >
        <thead>
            <tr class="table">
                <th>Sr No</th>
                <th>Name</th>
                <th>Uploaded By</th>
               
            </tr>
        </thead>
        <tbody>
          
                <tr class="table">
                    <td>1</td>
                    <td style="padding-left: 29px;">cyber Security</td>
                    <td>Hamza</td>
                   
                </tr>
            
            
        </tbody>
    </table>
</div>