<div *ngIf="showNavbar" class="footer_container">
    <div class="inner_container">
        <div class="heading"><h2>Why<span style="color: yellow;">Cheat</span> <span style="font-size: 15px;">.com</span> </h2></div>
        <div class="links">
            <ul>
                <span style="color: rgba(255, 255, 0, 0.422);">pages</span>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/quiz">Quiz</a>
                </li>
                <li>
                    <a routerLink="/about">About</a>
                </li>
                <li>
                    <a routerLink="/contact">Contact US</a>
                </li>
            </ul>
            <div>
                <span style="color: rgba(255, 255, 0, 0.422);">Material</span>
                <ul>
                    <li>
                        <a routerLink="/quiz">Quiz</a>
                    </li>
                </ul>
            </div>
            <div>
                <span style="color: rgba(255, 255, 0, 0.422);">Auth</span>
                <ul>
                    <li>
                        <a routerLink="/quiz">Login</a>
                    </li>
                    <li>
                        <a routerLink="/quiz">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>