
<div class="signup_container">
    <div class="left_box">
        <h1>Create a account</h1>
        <p>Please enter your details to continue.</p>

        <form action="">
            <input placeholder="Enter Name" />
            <input placeholder="Enter Email" />
            <input placeholder="Enter Password" />
            <select  name="" id="">
                <option value="1">
                    Student
                </option>
                <option value="2">
                    Teacher
                </option>
            </select>
            <button>sign up</button>
        </form>
    </div>
    <div class="right_box">
        <img [src]="SideImg" alt="error">
        <div class="text_box">
            <p>Quizzes are a great way to assess your knowledge and identify areas for improvement. They help reinforce
                learning by challenging your understanding of key concepts. Taking quizzes regularly can boost
                confidence and track progress over time. It’s an engaging and interactive method to test what you’ve
                learned.</p>
        </div>
    </div>
</div>